// @import url('https://fonts.googleapis.com/css?family=Tulpen+One|Exo|Kanit:800|Nunito|Molle:400i|Open+Sans+Condensed:300|Zhi+Mang+Xing|Anton|Raleway:100,300,900|Montserrat|Montserrat:400,900,900i|Josefin+Sans:100, 300,700,700i|Exo+2:100,100i,200&display=swap');

// ///////////MIXINS

$main-color: rgb(172, 68, 182);
// $main-variant-color: rgb(150, 31, 114);
$side-color: rgb(255, 236, 182);
// $side-color: rgb(139, 247, 187);
$golden-color: rgb(194, 161, 72);


///////////MIXINS

$field1: rgba(#c912eb, .5);
$field2: rgba(#f719a7, .5);
$field3: rgba(#fa3d8d, .5);
$field4: rgba(126, 14, 38, 0.6);




body {
    background-color: rgba(white, .95);
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;

    &.in-modal {
        overflow-y: hidden;
    }

    
}

.filters {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.landing {
    display: flex;
    display: none;
    // flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2100;
    position: absolute;
    width: 100%;
    // padding-top: 13rem;
    // padding-right: 17rem;
    height: 100vh;
    background-color: rgb(11, 11, 11);


    &__minus {
        width: 3rem;
        height: 1px;
        background-color: white;
    }

    &__stripe {
        float: left;
        background-color: rgb(24,222,13);
        height: 100%;
        flex: 1;
    }
    // &__p {
    //     margin-left: auto;
    //     width: fit-content;
    // }

    // &__span {
    //     font-family: myFont;
    //     font-weight: bold;
    //     font-size: 4rem;
    //     color: rgba(228, 219, 204, 0.719);
    //     margin-left: 1.55rem;
    // }
}

$polishHeight: 400;
.polish {
    position: absolute;
    top: 0;
    width: 100%;
    height: #{$polishHeight}vh;
    z-index: 99;
    background-color:  rgb(145, 122, 80);
    transform: translateY(ceil((100 / $polishHeight) * 100%));
    border-bottom: 3rem solid rgba(43, 43, 43, 0.356);
    &__stripe {
        margin-top: auto;
        height: 5rem;
        background-color: rgb(20, 20, 20);
    }
}

.canvas {
    // display: none;
    // display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(39, 3, 22);
    // background-image: linear-gradient(red, white);
}

.container {
    position: relative;
    // background-color: rgb(238, 221, 221);
    // position: relative;
    // z-index: 99;
}

$navbarHeight: 6;
.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: $navbarHeight * 1rem;
    border-bottom: 1px solid rgb(77, 67, 54);

    &__list {
        display: flex;
        // flex-direction: row-reverse;
        width: fit-content;
        margin-left: auto;
        margin-right: 7rem;
    }

    &__link {
        display: block;
        font-size: 1.65rem;
        padding: 2.3rem 1.55rem;
        color: rgb(156, 96, 96);
    }
}

$menu-color: rgba(0, 0, 0, .95); //rgb(13, 2, 3);
.menu {

    // display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $menu-color;
    z-index: 19;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    // transform: translateX(100%);
    // padding: 10rem 30rem;
    // border-left: 1px solid rgba(255, 255, 255, .85);
    // box-shadow: -5px 0 10px rgba(255, 255, 255, 0.151);


    // & svg text{
    //     fill: white;
    //     font-family: 'Assistant';
    //     font-size: 2rem;
    // }

    &__toggle {
        display: none;
        &-container {
            position: fixed;
            top: 0;
            right: 0;
            // background-color: #fff;
            line-height: 1;
            color: white;
            // font-size: 3rem;
            transform: translate(-2rem, 2rem);
            padding: .3rem .6rem;
            z-index: 20;
        }

        &-label {
            margin-bottom: .6rem;
            cursor: pointer;
            
            // svg {
            //     fill: white;
            //     width: 3rem;
            //     height: 2.6rem;
            //     transform: scaleY(.45   );
            // }
        }

        &-minus {
            display: block;
            width: 1.7rem;
            height: 3px;
            border-radius: 15px;
            background-color: white;
            transition: .2s;

            &:first-child {
                margin-bottom: .75rem;
                transform-origin: left top;
            }

            &:last-child {
                margin-bottom: .65rem;
                transform-origin: left bottom;
            }
        }

        &:checked {

            & + .menu__toggle-label {
                .menu__toggle-minus {
                    &:first-child {
                        margin-bottom: 1.3rem;
                        transform: rotate(45deg);
                    }

                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

    }

    &__container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        // 
        justify-content: flex-start;
        

    }

    &__item {
        overflow: hidden;
        :hover {
            // h2 {
                
            //     -webkit-text-fill-color: white;
            // }
        }
    }

    &__link {
        display: block;
        position: relative;
        // color: rgba(255, 255, 255, 0.1);
        // font-size: 2rem;
        padding: 0 1.55rem;
        font-weight: 300;
        // line-height: 1.2;
        // background-color: rgb(17, 31, 11);
        // filter: url(#outliner);
        // // svg text, h2 {
        //     fill: white;
        //     color: white;
        // fill: #000;
        color: darken($menu-color, 23%);
        font-size: 4.5rem;
        // stroke: white;
        // -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
        // -webkit-text-stroke-width: 1px;
        // -webkit-text-stroke-color: white;
        // text-shadow: 1px 1px 0px white, -1px 1px 0px white, 1px -1px 0px white, -1px -1px 0px white,
        // 2px 2px 0px white, -2px 2px 0px white, 2px -2px 0px white, -2px -2px 0px white;
        transform: skewX(-8deg);
        transition: .25s;
        @include stroke(rgb(255, 225, 225));
        // }
        // z-index: 2;

        // &::before,
        // &::after {
        //     content: '';
        //     position: absolute;
        //     width: 1.4rem;
        //     height: 1px;
        //     top: 50%;
        //     background-color: white;
        //     transition: .2s ease-out;
        //     z-index: -1;
        // }

        // &::before {
        //     right: 0;
        //     transform: translateX(50%);
        // }

        // &::after {
        //     left: 0;
        // }

        &:hover {
            color: white;
            
            &::before {
                transform: translateX(100%);
            }

            &::after {
                transform: translateX(-100%);
            }
        }
    }
}

.header {
    position: fixed;
    display: flex;
    
    // display: none;
    // flex-direction: column;
    justify-content: space-between;
    // display: none;
    position: relative;
    height: 100vh;
    // z-index: 0;
    // padding: 4rem 6rem;
    padding: 2rem 5rem 0 5rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.812), rgba(223, 107, 107, 0.514));
    // background-image: linear-gradient(to bottom, transparent 70%, black);
    // z-index: 11;
    // background-image: linear-gradient(rgba(255,255,255, 0.8), rgrgba(0, 0, 0, 0.8));
    // background-color:black;
    // background-image: linear-gradient(-80deg, rgba(0,0,0, 0.821) 5px,rgba(0,0,0, 0.521)), url(../../imgs/bg.jpg), radial-gradient(circle at 50% 50%, transparent 55%, rgb(0, 0, 0) 80%), radial-gradient( at 50% 50%, transparent 5%, black 60%);
        
    // &::after {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     transform: translate(-50%, 50%);
    //     background-color: white;
    //     box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1), 0 0 20px rgba(0, 0, 0, .2);
    //     height: 8rem;
    //     width: 110%;
    //     border-radius: 100%;
    //     z-index: 1;
    // }
    // background-image: radial-gradient(at 10% 50%, transparent, black);

    // background-image: 
    // background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .1)), url(../../imgs/bg.jpg);
    // background-color: rgba(0, 0, 0, .96);
    // background-image: linear-gradient(rgba(0, 0, 0, .95), rgba(19, 0, 26, 0.9)), url(../../imgs/bg.jpg);
    // background-attachment: fixed;

    // &__watermark {
    //     display: none;
    //     position: absolute;
    //     top: 15%;
    //     left: 15%;
    //     text-transform: uppercase;
    //     color: rgba(255, 255, 255, 0.733);
    //     // text-shadow: 0 0 10px rgba(0, 0, 0, .05);
    //     font-weight: 100;
    //     font-size: 39rem;
    //     font-family: 'Medula One', cursive;
    //     z-index: 0;
    // }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 10rem 4rem 1rem 10rem;
        // padding-bottom: 2rem;
        // padding-top: 20rem;
        // justify-content: center;
        // flex-direction: row-reverse;
        z-index: 1;
        flex: 1;
        // mix-blend-mode: multiply;
        // padding: 5rem 17rem 0 0;
    }

    &__heading-container {
        padding-left: 2rem;
        margin-bottom: auto;
        // margin-right: 10rem;
        // overflow: hidden;
        // border-left: solid 1px rgba(255, 255, 255, 0.534);
    }

    &__heading,
    &__subheading {
        // text-align: center;
        // background-color: rgba(0, 0, 0, 0.267);
        // margin: auto;
        // width: fit-content;
    }

    &__heading {
        // display: flex;
        // justify-content: end;
        
        font-family: 'Assistant', sans-serif;
        // font-family: subtleFont;
        text-align: right;
        font-weight: 100;
        // line-height: .5;
        // letter-spacing: 6px;
        color: rgba(250, 183, 183, 0.8);
        // overflow: hidden;

        &-span {
            display: inline-block;
            text-align: right;
            width: fit-content;
            grid-row: 2 / 3;
            transform-origin: bottom;
            // transform: skewX(-7deg);
            overflow: hidden;
        
            &-text {
                // text-shadow: 0 0 20px rgba(0, 0, 0, 0.1615),0 0 20px rgba(0, 0, 0, 0.1615);
                // text-shadow: .4rem .4rem 0 rgba(255, 255, 255, 0.03);
                // text-shadow: 0 10px 10px rgba(0, 0, 0, 0.315),  0 10px 20px rgba(0, 0, 0, 0.315);
                line-height: 1;
            }
            // text-shadow: 3px 2px 0 rgba(248, 210, 42, .35);

            &--upper {
                display: block;
                grid-row: 1 / 2;
                font-size: 7.5rem;
                grid-column: 2 / 3;
                flex: 1;
                margin-left: auto;
                margin-bottom: -2rem;
                
                // color: transparent;
                color: rgb(50, 50, 50);
                letter-spacing: -6px;
                // background-image: linear-gradient(170deg, rgb(0, 71, 24), rgb(109, 32, 32));
                // // background-image: linear-gradient(170deg, rgb(17, 2, 48), rgb(35, 5, 53));
                // margin-top: -1rem;
                // background-clip: text;
            }

            &--bottom {
                // display: block;
                // grid-row: 1 / 2;
                // grid-column: 2 / 3;
                // flex: 1;
                font-weight: 900;
                color: rgb(25, 25, 25);
                // color: transparent;
                // background-image: linear-gradient(10deg, rgb(240, 128, 225), rgb(255, 88, 88));
                // background-image: linear-gradient(170deg, rgb(17, 2, 48), rgb(35, 5, 53));
                margin-top: -1rem;
                letter-spacing: -6px;
                font-size: 9.5rem;
                // background-clip: text;
                // margin-right: -1rem;

                &:nth-of-type(odd) {
                    font-weight: 100;
                }
            }
        }

        &-bottoms {
            // border-top: 21px double white;
        }

    }

    &__subheading {
        font-family: 'Assistant', sans-serif;
        font-size: 2.5rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.479);
        line-height: 1.6;
        margin-top: -1.9rem;
        margin-bottom: 1rem;
        text-align: right;
        // mix-blend-mode: exclusion;
        // transform: scale(2);
    }

    &__field-buttons {
        position: relative;
        display: flex;
        width: fit-content;
        margin-left: auto;
        // background-color: ;
        padding-left: 23rem;                                //////////////////FIXXXXXXXX
        // border-top: 1px solid rgba(255, 255, 255, 0.07);
        justify-content: flex-end;
        padding-top: 1rem;
        // padding-right: 1rem;

        &::before {
            @include pseudo();
            width: 4rem;
            height: 2px;
            // transform: translate(-.45rem, -5px) skewX(-25deg);
            background-color: rgba(45, 0, 0, 0.623);
            right: 0;
            left: auto;
        }

        &::after {
            // @include pseudo();
            width: 6rem;
            height: 14px;
            transform: skewX(-25deg);
            background-color: rgba(177, 59, 59, 0.1);
            right: 0;
            left: auto;
        }
    }

    &__field-button {
        margin-left: 3rem;
        font-weight: 700;
        font-size: 2rem;
        color: rgb(210, 210, 210);
    }
    
    &__niches {
        // z-index: 1;

    }

    &__niche {
        position: relative;
        backdrop-filter: blur(8px);
        // transform-style: preserve-3d;
        font-weight: 100;
        padding: 1.5rem 2.5rem;
        width: fit-content;
        background-color: rgba(255, 70, 70, 0.1);
        border-radius: 8px;
        font-size: 2.3rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 15px 35px rgba(black, .25);
        cursor: pointer;
        overflow: hidden;

        &:hover {

            & > .header__niche-link {
                color: rgba(255, 255, 255, .95);
            }
        }

        &-link {
            color: rgba(255, 255, 255, .6);
            transition: .2s;
        }
    }

    &__logo {
        display: block;
        fill: white;
        // background-color: white;
        max-height: 6rem;

        &-container {
            display: none;
            position: absolute;
            left: 4%;
            top: 1rem;
            margin-top: -1rem;
        }
    }

    &__cta {
        text-align: right;
        width: fit-content;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1;
        padding: .4rem 1.29rem .75rem 1.29rem;
        color: rgba(255, 255, 255, 0.637);
        // border-radius: 7px;
        // background-color: rgb(122, 54, 54);
        background-size: 230% 100%;
        background-position: right;
        background-image: linear-gradient(to left, transparent 43%, rgba(255, 255, 255, 0.815) 43%, rgba(255, 236, 236, .96) 49%, rgba(255, 236, 236, .96) 50%);
        margin-bottom: auto;
        cursor: pointer;
        transition: background-position .4s, color .1s, box-shadow .2s 0s, text-shadow .15s;    

        &:hover {
            background-position: 178%;
            color: rgb(10, 63, 60);
            text-shadow: 2px 2px 0px rgba(27, 95, 173, .45);
            box-shadow: 0 0px 10px  2px rgba(224, 188, 188, .3), 0 0px 20px  2px rgba(255, 255, 255, 0.1);
            transition: background-position .35s , color .1s, box-shadow .2s .1s;
        }

        &-container {
            margin-bottom: 10rem;
            text-align: left;
            transform-origin: center;
        }
    }

    &__pointer {
        align-self: center;
        svg {
            margin: auto;
                max-height: 2.3rem;

            use {
                // display: block;
                fill: rgba(255, 255, 255, .2);
            }
        }
    }

    &__bg {
        // background-color: rgba(255, 62, 62, 0.2);
        // background-image: radial-gradient(circle at 50% 50%, transparent 55%, rgb(0, 0, 0) 80%), radial-gradient( at 50% 50%, transparent 5%, black 60%) ,
        // repeating-linear-gradient(13deg, rgba(199, 102, 255, 0.5) 1px, transparent 2px, transparent 11px);

        background-image: radial-gradient(at 50% 30%, rgba(0, 0, 0, .45) 40%, black 60%),
        // radial-gradient( at 50% 40%, rgba(0, 0, 0, .25) 15%, rgba(0, 0, 0, 1) 60%),
                            linear-gradient(to bottom, rgba(122, 27, 27, .2), transparent 80%);
        
        width: 100%;
        height: 100%;
        // transform: translate(-13%, -6%);

        &-container {

            // transform: rotate(46deg);
            background-image: radial-gradient(at 25% 25%, rgba(255, 60, 86, 0.65) 1px, transparent 2px),  radial-gradient(at 75% 75%, rgba(255, 60, 86, 0.65) 1px, transparent 2px);
            background-size: 3rem 3rem ;
            background-repeat: repeat;
            position: absolute;
            display: block;
            width: 100%;
            height: 90%;
            top: 0;
            z-index: 0;
            right: 0;}
        // display: grid;
        // grid-template-rows: repeat(auto-fill, minmax(2.8rem, 1fr));
        // width: 35%;
        // // background-color: black;

        // &-component {
        //     display: block;
        //     width: 100%;
        //     height: 3.3rem;
        //     background-size: 13%;
        //     background-repeat: repeat;

        //     &:nth-child(even) {
        //         background-image: radial-gradient(at 50% 50%, rgba(0, 0, 0, 0.8) 1px, transparent 2.5px);
        //     }

        //     &:nth-child(odd) {
        //         background-image: radial-gradient(at 50% 50%, rgb(160, 60, 77) 1px, transparent 2.5px);
        //     }
        // }
    }


}



.about {
    height: 100vh;
    background-color: rgb(250, 250, 250);
}




.fields {
    position: relative;
    // height: 300vh;
    // perspective: 30px;
    // overflow-y: auto;
    // background-image: linear-gradient(220deg, rgb(211, 125, 125), rgb(211, 125, 125));
    background-color: rgb(250, 250, 250);
    padding: 10rem 0;
    
    &__title {
        // font-size: 30rem;
        font-weight: 900;
        color: rgba(0, 0, 0, .05);
        line-height: 1;
        
        &-container {
            // position: sticky;
            // top: 0;
            width: 100%;
            // height: 100vh;
            // padding: 7rem 5rem 10rem 5rem;
        }

        &--2,
        &--3 {
            display: none;
        }
    }

    
    &__container {
        // display: flex;
        justify-content: flex-end;
        // display: grid;
        // height: 100vh;
        // overflow-y: scroll;
        // will-change: scroll-position;
        
        // height: 100vh;
    }


    &__field {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: 100vh;
        width: 100%;
        position: relative;
        perspective: 2000px;
        // margin-bottom: 10rem;

        // &::before {
        //     @include pseudo(attr(data-content));
        //     width: 100%;
        //     // transform: translate(-5rem, 0, -10px) scale(1.1) skew(41deg);
        //     // line-height: 100vh;
        //     font-size: 30rem;
        //     font-weight: 900;
        //     // letter-spacing: -3rem;
        //     color: rgba(white, .06);
        //     transform: translateZ(-2rem) scale(1.5);
        // }
    }

    &__bg {
        position: absolute;
        top: 10%;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        // transform: translate(-5rem, 40rem, -10px) scale(1.1) skew(41deg);
        // line-height: 100vh;
        text-align: right;
        font-size: 30rem;
        font-weight: 900;
        // letter-spacing: -3rem;
        color: rgba(white, .06);
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
        width: 100%;
        // height: 100%;
        // justify-content: space-between;
        justify-items: stretch;
        align-items: stretch;
        transform-style: preserve-3d;

        &--2,
        &--4 {
            flex-direction: row-reverse;
        }
    }


    &__img {
        display: block;
        object-fit: cover;
        // min-width: 50vw;
        width: 100%;
        flex: 1;
        background-image: linear-gradient(rgba(202, 18, 18, 0.37), rgba(0, 0, 0, 0.37));
        max-height: 100vh;
        min-height: 100vh;
        filter: grayscale(75%);
        transition: .5s ease-out;&::before {
            @include pseudo();
            // border: 5px solid  rgba(0, 0, 0, .3);
            width: 9rem;
            height: 9rem;
            left:0;
            top: 0;
            border: 5px solid black;
            transition: .2s;
        }
        &::after {
            @include pseudo();
            // border: 5px solid  rgba(0, 0, 0, .3);
            height: 1px;
            left: auto;
            width: 5rem;
            top: 50%;
            right: 0;
            background-color: rgba(0, 0, 0, .35);
            transform: translateX(50%); 
            transition: .2s;
            mix-blend-mode: screen;
            z-index: 31;
        }
        // border-radius: 20px;

        &-container {
            position: relative;
            // overflow: hidden;
            // position: absolute;
            // will-change: transform, opacity;
            justify-self: stretch;
            cursor: pointer;
            // width: fit-content;

            // background-color: red;

            
            &:hover img {
                transform: scale(1.03);
                filter: grayscale(0%);
                background-image: linear-gradient(rgba(202, 18, 18, 0.37), rgba(0, 0, 0, 0.37));
            }


            


            // transform: rotate(-15, -10) translateY(25%);
            // opacity: 0;




            // max-width: 20vw;
            // grid-area: 1 / 1 / 2 / 2;
            // position: sticky;
            // border-radius: 20px;
            // top: 0;
            // right: 0;
            // box-shadow: -1rem .7rem 0 rgba(0, 0, 0, .1);
            // transform: translateY(4rem);
            // left: 0;
            
            
            

            &:hover {

                &::after {
                    width: 6rem;
                    transform: translateX(60%); 

                }
            }
            
            &--2,
            &--4 {
                order: 1;

                &::after {
                    right: auto;
                    left: 0;
                    transform: translateX(-50%); 
                }

                &:hover {

                    &::after {
                        transform: translateX(-60%); 
                    }
                }
            }
        }

        &-inner-container {
            overflow: hidden;
        }

        &-cover {
            position: absolute;
            // display: none;
            top: 0;
            
            width: 100%;
            height: 100%;
            background-size: 200% 100%;
            background-position: 0%;
            background-image: linear-gradient(to right, rgb(250, 250, 250) 50%, transparent 50%);
            // background-image: linear-gradient(to right, white 33%, transparent 33%, transparent 40%, pink 40%, pink 41%, transparent 41%, transparent 45%, pink 45%, pink 47%, transparent 47%);

        }

    }

    // &__title {
    //     font-size: 30rem;
    //     font-weight: 900;
    //     color: rgba(0, 0, 0, .05);
    //     line-height: 1;

    //     &-container {
    //         height: 100vh;
    //         grid-area: 1 / 1 / 2 / 2;   
    //         padding: 3rem 8rem 8rem 8rem;
    //         background-color: rgba(0, 0, 0, .1);
    //     }
    // }

    &__desc {
        flex: 1;
        align-self: center;
        // position: absolute;
        // background-color: rgba(182, 58, 58, .95);
        line-height: 1.1;
        padding: 5.25rem 10rem;
        // grid-area: 2 / 2 / 3 / 4;
        // align-self: flex-end;
        font-size: 1.9rem;
        font-weight: 100;
        // position: sticky;
        text-align: center;
        // margin-bottom: -10rem;
        // margin-left: -5rem;
        // box-shadow: 0 0 20px rgba(black, .2);
        // z-index: 11;
        // top: 50%;
        
    }

    &__field-title {
        display: flex;
        justify-content: flex-end;
        // align-content: center;
        text-align: right;
        margin-bottom: 10px;
        // padding-right: .7rem;
        line-height: .85;

        &--1 {
            color: rgba(#c912eb, .5);
        }

        &--2 {
            color: rgba(#f719a7, .5);
        }

        &--3 {
            color:rgba(#fa3d8d, .5);
        }

        &--4 {
            color: rgba(126, 14, 38, 0.6);
        }
        
    }

    &__para {
        color: rgba(0, 0, 0, .9);
        text-align: right;
        padding-right: .5rem;
        &--1 {
            border-right: .7rem solid rgba(#c912eb, .15);
        }

        &--2 {
            border-right: .7rem solid rgba(#f719a7, .15);
        }

        &--3 {
            border-right: .7rem solid rgba(#fa3d8d, .15);
        }

        &--4 {
            border-right: .7rem solid rgba(126, 14, 38, 0.6);
        }
    }
}


.articles {
    min-height: 100vh;
    background-color: white;
    padding: 15rem 0;
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: repeat(10, 30vh);
        grid-auto-rows: 30vh;
        grid-gap: 3rem;
        padding: 5rem;
    }

    &__grid-item {
        transform: translateY(10%);
        opacity: 0;
    }

    &__heading {
        font-size: 5rem;
        color: rgba(0, 0, 0, .9);
        &-container {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            // background: red;
            grid-area: 1 / 2 / 2 / 3;
        }
    }

    &__article {
        // background: green;
        // border: 1px solid black;
        // background-color: rgba(0, 0, 0, 0.089);
        border: 7px solid rgba(0, 0, 0, .1);
        min-height: 40vh;

        &--1 {
            grid-area: 1 / 1 / 3 / 2;
        }

        &--2 {
            grid-area: 3 / 1 / 5 / 2;
        }

        &--3 {
            grid-area: 5 / 1 / 7 / 2;
        }

        &--4 {
            grid-area: 2 / 2 / 4 / 3;
        }

        &--5 {
            grid-area: 4 / 2 / 6 / 3;
        }

        &--4,
        &--5 {
            // transform: translateY(2rem);
        }
    }
}



.anecdotes {
    position: relative;
    height: 100vh;
    background-color: rgb(235, 233, 233);

    
    &::before {
        @include pseudo();
        top: auto;
        bottom: 0;
        left: 50%;
        height: 4.5rem;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.603);
    }
    
    &::after {
        @include pseudo();
        top: auto;
        bottom: 0;
        background-blend-mode: multiply;
        left: 50%;
        transform: translateY(100%);
        height: 4.5rem;
        width: 1px;
        background-color: rgba(228, 217, 217, 0.541);
    }

    &__container {
        overflow: hidden;

        &::before {
            @include pseudo('„');
            left: 0;
            top: 0;
            line-height: .1;
            font-size: 55rem;
            // height: 4.5rem;
            // width: 1px;
            color: rgba(0, 0, 0, .07);
        }
    }
}

///////////ORIGINAL FIELDS



// $fields-bg: white;
// .fields {
//     position: relative;
//     display: flex;
//     // height: 300vh;
//     background-color: rgb(165,42,92);
//     // background-image: linear-gradient(to bottom, transparent 35rem, rgba(black, .1) 35rem);
//     z-index: 2;

//     &__title {
//         font-size: 30rem;
//         font-weight: 900;
//         color: rgba(0, 0, 0, .05);
//         line-height: 1;
        
//         &-container {
//             // position: sticky;
//             // top: 0;
//             width: 100%;
//             height: 100vh;
//             padding: 7rem 5rem 10rem 5rem;
//         }

//         &--2,
//         &--3 {
//             display: none;
//         }
//     }

//     &__sidebar {
//         // position: sticky;
//         // top: 0;
//         // right: 0;
//         // margin-top: -100%;
//         height: 100vh;
//         width: 30%;
//     }
    
//     &__container {
//         display: grid;
//         // height: 100vh;
//     }


//     &__sticky {
//         padding: 7rem 4rem;
//         display: grid;
//         grid-area: 1 / 1 / 2 / 2;
//         grid-template-rows: auto 7rem 1fr;
//         grid-template-columns: auto 7rem 1fr;
//         // position: sticky;
//         // top: 0;
//         // width: 100%;
//         // height: 100vh;
//     }

//     &__field {
//         height: 100vh;
//     }

//     &__img {
//         display: block;
//         max-height: 70vh;
//         border-radius: 20px;

//         &-container {
//             width: fit-content;
//             grid-area: 1 / 1 / 2 / 2;
//             // position: sticky;
//             border-radius: 20px;
//             top: 0;
//             box-shadow: -1rem .7rem 0 rgba(0, 0, 0, .1);
//             transform: translateY(4rem);
//             // left: 0;
//             &::after {
//                 @include pseudo();
//                 // border: 5px solid  rgba(0, 0, 0, .3);
//                 border-radius: 20px;
//                 transform: translate(-2rem, -1.2rem) scale(1, 1.06); 
//             }
//         }

//     }

//     // &__title {
//     //     font-size: 30rem;
//     //     font-weight: 900;
//     //     color: rgba(0, 0, 0, .05);
//     //     line-height: 1;

//     //     &-container {
//     //         height: 100vh;
//     //         grid-area: 1 / 1 / 2 / 2;   
//     //         padding: 3rem 8rem 8rem 8rem;
//     //         background-color: rgba(0, 0, 0, .1);
//     //     }
//     // }

//     &__desc {
//         grid-area: 2 / 3 / 4 / 4;
//         font-size: 2rem;
//         font-weight: 100;
//         // position: sticky;
//         top: 50%;
//     }
// }

// .agenda {
//     padding: 10rem 8rem;
//     min-height: 100vh;
//     background-color: rgb(236, 204, 255);

//     &__heading {
//         text-align: center;
//         color: rgba(0, 0, 0, 0.685);
//         font-size: 2.3rem;
//         margin-bottom: 5rem;
//     }

//     &__para {
//         text-align: right;
//     }

//     &__container {
//         display: grid;
//         grid-auto-flow: column;
//         grid-column-gap: 4rem;
//     }

//     &__agenda {
//         display: grid;
//         place-items: center;
//         padding: .7rem;
//         // background-color: rgba(133, 8, 8, 0.774);
//     }

//     &__number {
//         position: absolute;
//         // grid-area: 1 / 1 / 2 / 2;
//         line-height: 1;
//         font-size: 14rem;
//         background-image: linear-gradient(to bottom, rgba(168, 149, 38, 0.7541) 50%, transparent);
//         color: transparent;
//         background-clip: text;
//         opacity: .35;
//         font-weight: bold;
//         transform-origin: top;
//         transform: translate(23%,  5%) scaleY(1.5);
//     }

//     &__para {
//         // grid-area: 1 / 1 / 2 / 2;
//         line-height: 1.4;
//         position: relative;
//         font-size: 1.3rem;
//         text-align: justify;

//     }
// }

.contact {
    position: sticky;
    display: flex;
    // display: none;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    height: 100vh;
    padding: 2rem 0;
    background-color: rgba(24, 24, 24, 0.548);
    // background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.075));
    // background-image: linear-gradient(to top, rgba(#e0e5eb, .995), rgba(#e0e5eb, .9)), url('../../imgs/marble.jpg');
    // background-image: linear-gradient(190deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1));

    // &::before {
    //     @include pseudo('סטולרו');
    //     // right: 7%;
    //     // left: 0;
    //     // left: 0;
    //     left: auto;
    //     right: 0;
    //     width: fit-content;
    //     transform: translate(0, -40%);
    //     text-align: right;
    //     font-size: 30rem;
    //     font-weight: 900;
    //     letter-spacing: -2rem;
    //     line-height: 1.35;
    //     color: rgba(white, .02);
    //     // color: #e0e5eb;
    //     // z-index: 0;
    //     // text-shadow: 8px 8px 12px rgba(0, 0, 0, .08),  
    //     // // 3px 3px 11px rgba(255, 255, 255, .1), 
    //     //             // -2px -2px 9px rgba(0, 0, 0, .04),  
    //     //             -8px -8px 12px rgba(255, 255, 255, .4);
    // }

    // &::after {
    //     @include pseudo('ספיר');
    //     top: auto;
    //     height: auto;
    //     bottom: 0;
    //     left: 6%;
    //     // right: auto;
    //     text-align: right;
    //     width: fit-content;
    //     font-size: 25rem;
    //     font-weight: 900;
    //     letter-spacing: -2rem;
    //     line-height: .5;
    //     color: rgba(white, .02);
    //     // color: #e0e5eb;
    //     // z-index: 0;
    // }

    &::after {
        @include pseudo();
        top: auto;
        height: auto;
        width: 30%;
        height: 100%;
        bottom: 0;
        // left: auto;
        // right: 0;
        background-size: 3rem 3rem;
        background-image: 
        radial-gradient(at 25% 25%, rgba(114, 15, 128, 0.9) 1px, transparent 1px), 
        radial-gradient(at 25% 75%, rgba(114, 15, 128, 0.9) 1px, transparent 1px),
        radial-gradient(at 75% 25%, rgba(114, 15, 128, 0.9) 1px, transparent 1px), 
        radial-gradient(at 75% 75%, rgba(114, 15, 128, 0.9) 1px, transparent 1px);
        //, radial-gradient(at 75% 75%, white 1px, transparent 1px);
        // background-image: repeating-linear-gradient(to left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 15px);
        // color: #e0e5eb;
        // z-index: 2;
    }


    &__container {
        flex: 1;
        padding: 2rem 5rem;
        // margin-bottom: auto;
        // background-image: url('../../imgs/plus.png');
        // background-image: radial-gradient(at 50%, rgba(139, 139, 139, 0.6) 1px, transparent 2px);//, radial-gradient(at 75% 75%,  rgba(139, 139, 139, 0.6) 1px, transparent 2px);
        background-size: 1.7rem 1.7rem;
    }

    &__heading {
        direction: rtl;
        color: rgba(255, 255, 255, 0.651);
        display: block;
        text-align: left;
        font-size: 4rem;
        font-weight: 100;
        // margin-right: auto;
        margin-left: 3rem;
        // width: fit-content;
        &-bold {
            display: inline-block;
            margin-right: 1rem;
            font-weight: 700;
            letter-spacing: 10px;
            color: rgb(240, 223, 188);
            text-shadow: 7px 7px 0 rgba(255, 255, 255, .15);
            // transform: scaleX(1.2);
        }
    }

    &__title {
        position: absolute;
        font-size: 20rem;
        // line-height: .4;
        z-index: 0;
        color: rgba(255, 255, 255, .021);
        font-weight: 900;
        // background-clip: text;
        // color: transparent;
        // background-image: repeating-linear-gradient(-80deg, rgba(199, 102, 255, 0.25) 2px, transparent 3px, transparent 11px);

        &--up {
            top: 0;
            // transform: translate(0,-10%);
        }

        &--down {
            bottom: 0;
        }
    }

    &__form {
        // display: grid;
        display: none;

        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 10rem;
        &-group {
            position: relative;
            &--name,
            &--mail {
                display: inline-block;
            }

            &--text {
                grid-area: 2 / 1 / 3 / 3;
            }
        }
    }

    &__input,
    &__textarea {
        width: 100%;
        border-radius: 4px;
    }

    &__input {
        padding: 0 .5rem;
        font-size: 1.3rem;
        line-height: 2;

        &:focus + .contact__label {
            top: -73%;
            right: 1%;
            font-size: 1rem;
            // transform: translateY(50%);
        }
    }

    &__label {
        position: absolute;
        height: 100%;
        line-height: 2;
        font-size: 1.3rem;
        right: 1.5%;
        color: rgba(0, 0, 0, 0.719);
        top: 0;
        transition: .2s;
        pointer-events: none;
        // transform: translateY(-50%);
    }

    &__textarea {
        height: 100%;
    }

    &__footer {
        // padding: 0 3rem;
        // background-color: rgba(107, 84, 84, 0.2);
        // padding:
    }

    &__rights {
        // border-top: 1px solid rgba(201, 102, 102, 0.562);
        color: rgba(0, 0, 0, 0.4);
        font-size: 1.5rem;
        display: block;
        padding: 2rem;
        text-align: right;
    }
}